@import './styles/main';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.App {
  &__container {
    max-width: 1200px;
    min-width: 320px;
    margin-inline: auto;
    padding-inline: $mobile-horizontal-indents;

    @include on-tablet {
      padding-inline: $tablet-horizontal-indents;
    }

    @include on-desktop {
      padding-inline: $desktop-horizontal-indents;
    }
  }
}
